In [1]:
import numpy as np
import pandas as pd

In [2]:
from sklearn.linear_model import LogisticRegression

In [3]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [4]:
credit_card_data=pd.read_csv(r"E:\Machine learning\creditcard.csv")

In [5]:
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [6]:
credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

In [7]:
# dataset information

In [8]:
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [10]:
# checking the number of missing values in each column
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [11]:
# distribution of legit transactions and fraudulent transactions

In [15]:
credit_card_data['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

In [16]:
# this dataset is highly unbalanced as 0>>1
#0->normal transaction
#1->fraudulent transaction

In [17]:
# separating the data for analysis

In [18]:
legit=credit_card_data[credit_card_data['Class']==0]
fraud=credit_card_data[credit_card_data['Class']==1]

In [19]:
print(legit.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

In [20]:
# statistical measures of the data

In [21]:
legit['Amount'].describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [22]:
 fraud['Amount'].describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [23]:
# compare the values for both transactions

In [24]:
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [25]:
# under-sampling

In [26]:
# build a sample dataset containing similar distribution of normal and fraudulent transactions

In [27]:
# number of fraudulent transactions-> 492

In [28]:
# so now we will take 492 random sample from legit transactions and all 492 fraud transactions and create a new dataset so that our ml model can be accurate

In [29]:
legit_sample=legit.sample(n=492)  # it will take random 492 sample from legit data set

In [30]:
# concatinating 2 dataframes-> fraud+legit_samle

In [31]:
new_dataset=pd.concat([legit_sample,fraud],axis=0)

In [32]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
267942,162996.0,-1.814770,-0.188252,-1.080199,-1.304456,2.150663,-2.104202,1.994391,-0.934061,-0.210019,...,0.096541,1.517696,0.338026,0.187780,0.045446,0.580935,-0.687425,-0.799506,2.00,0
175669,122437.0,2.188013,-0.749740,-1.581610,-1.207406,-0.026413,-0.288398,-0.456570,-0.177530,-0.882237,...,0.487897,1.384504,-0.062686,0.308815,0.252014,0.050574,-0.038000,-0.068422,26.95,0
19781,30555.0,1.407737,-0.790063,0.608426,-0.806334,-1.200639,-0.267339,-1.090966,0.040799,-0.196488,...,0.323110,0.816907,-0.205772,-0.425226,0.502024,0.004169,0.027675,0.017644,24.99,0
278549,168284.0,1.909291,-0.654994,-0.586171,0.238048,-0.420371,0.411116,-0.827858,0.290357,1.400766,...,0.222319,0.714717,0.093026,0.283701,-0.121981,-0.236519,0.022868,-0.041907,35.97,0
187714,127655.0,-0.599221,1.206466,-0.486970,1.075202,0.198406,-0.779351,1.276395,0.194065,-0.629746,...,0.189565,0.523017,-0.011527,-0.049434,0.033819,-0.370195,0.274209,0.184114,97.65,0

In [33]:
new_dataset['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [34]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,95764.469512,-0.008440,-0.003154,0.049795,-0.060839,0.082834,0.085454,-0.042376,-0.118213,0.024773,...,0.013506,0.046543,-0.012720,-0.007798,0.01861,0.026665,0.005088,0.005927,0.016973,86.804411
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.10513,0.041449,0.051648,0.170575,0.075667,122.211321

In [35]:
# spliting the data into features and targets

In [36]:
x=new_dataset.drop(columns='Class',axis=1)
y=new_dataset['Class']

In [37]:
print(x)

            Time        V1        V2        V3        V4        V5        V6  \
267942  162996.0 -1.814770 -0.188252 -1.080199 -1.304456  2.150663 -2.104202
175669  122437.0  2.188013 -0.749740 -1.581610 -1.207406 -0.026413 -0.288398
19781    30555.0  1.407737 -0.790063  0.608426 -0.806334 -1.200639 -0.267339
278549  168284.0  1.909291 -0.654994 -0.586171  0.238048 -0.420371  0.411116
187714  127655.0 -0.599221  1.206466 -0.486970  1.075202  0.198406 -0.779351
...          ...       ...       ...       ...       ...       ...       ...
279863  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
280143  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
280149  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
281144  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
281674  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7        V8        V9  ...       V20       V21       V22  \
267942  1.994391 -0.934061 -0.210019  ... -1.175578  0.096541  1.517696
175669 -0.456570 -0.177530 -0.882237  ...  0.105433  0.487897  1.384504
19781  -1.090966  0.040799 -0.196488  ...  0.082996  0.323110  0.816907
278549 -0.827858  0.290357  1.400766  ... -0.197724  0.222319  0.714717
187714  1.276395  0.194065 -0.629746  ...  0.035845  0.189565  0.523017
...          ...       ...       ...  ...       ...       ...       ...
279863 -0.882850  0.697211 -2.064945  ...  1.252967  0.778584 -0.319189
280143 -1.413170  0.248525 -1.127396  ...  0.226138  0.370612  0.028234
280149 -2.234739  1.210158 -0.652250  ...  0.247968  0.751826  0.834108
281144 -2.208002  1.058733 -1.632333  ...  0.306271  0.583276 -0.269209
281674  0.223050 -0.068384  0.577829  ... -0.017652 -0.164350 -0.295135

             V23       V24       V25       V26       V27       V28  Amount
267942  0.338026  0.187780  0.045446  0.580935 -0.687425 -0.799506    2.00
175669 -0.062686  0.308815  0.252014  0.050574 -0.038000 -0.068422   26.95
19781  -0.205772 -0.425226  0.502024  0.004169  0.027675  0.017644   24.99
278549  0.093026  0.283701 -0.121981 -0.236519  0.022868 -0.041907   35.97
187714 -0.011527 -0.049434  0.033819 -0.370195  0.274209  0.184114   97.65
...          ...       ...       ...       ...       ...       ...     ...
279863  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968  390.00
280143 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637    0.76
280149  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361   77.89
281144 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700  245.00
281674 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309   42.53

[984 rows x 30 columns]

In [38]:
print(y)

267942    0
175669    0
19781     0
278549    0
187714    0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

In [39]:
# split the data into training data and testing data

In [42]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,stratify=y,random_state=2)

In [43]:
print(x.shape,x_train.shape,x_test.shape)

(984, 30) (787, 30) (197, 30)

In [44]:
# model training- Logistic Regression ( already imported)--generally we use logistic regression for binary classification problems

In [45]:
model=LogisticRegression()

In [46]:
# training the logistic regression model with training data

In [47]:
model.fit(x_train,y_train)

LogisticRegression()

In [48]:
# model evaluation

In [50]:
# accuracy score

In [51]:
x_train_prediction=model.predict(x_train)  # accuracy on training data

In [52]:
training_data_accuracy=accuracy_score(x_train_prediction,y_train)

In [53]:
print('accuracy on training data-',training_data_accuracy)

accuracy on training data- 0.940279542566709

In [54]:
# accuracy on test data

In [55]:
x_test_prediction=model.predict(x_test)
test_data_accuracy=accuracy_score(x_test_prediction,y_test)

In [56]:
print('accuracy score on test data-',test_data_accuracy)

accuracy score on test data- 0.934010152284264